<ul class="side-nav" role="list">
  @for (item of items(); track item.id) {
    <li class="side-nav__item">
      @if (item.children?.length) {
        @if (collapsed()) {
          @if (firstNavPath(item); as railPath) {
            <a
              class="side-nav__row side-nav__row--collapsed side-nav__link"
              [routerLink]="railPath"
              [class.is-active]="hasActiveDescendant(item)"
              [attr.title]="item.label"
            >
              @if (item.icon) {
                <span class="side-nav__icon" [attr.data-icon]="item.icon" aria-hidden="true"></span>
              }
            </a>
          } @else {
            <span class="side-nav__row side-nav__row--collapsed" [attr.title]="item.label" role="presentation">
              @if (item.icon) {
                <span class="side-nav__icon" [attr.data-icon]="item.icon" aria-hidden="true"></span>
              }
            </span>
          }
        } @else {
          <button
            type="button"
            class="side-nav__row"
            [class.is-active-branch]="hasActiveDescendant(item)"
            [attr.aria-expanded]="isChevronOpen(item)"
            (click)="toggle(item.id)"
          >
            @if (item.icon) {
              <span class="side-nav__icon" [attr.data-icon]="item.icon" aria-hidden="true"></span>
            }
            <span class="side-nav__label">{{ item.label }}</span>
            <span class="side-nav__chev" [class.side-nav__chev--open]="isChevronOpen(item)"></span>
          </button>
          @if (showsNest(item)) {
            <div class="side-nav__nest">
              <app-sidebar-menu [items]="item.children!" [collapsed]="false" />
            </div>
          }
        }
      } @else if (item.path) {
        <a
          class="side-nav__row side-nav__link"
          [class.side-nav__row--collapsed]="collapsed()"
          [routerLink]="item.path"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: item.path === '/' }"
          [attr.title]="collapsed() ? item.label : null"
        >
          @if (item.icon) {
            <span class="side-nav__icon" [attr.data-icon]="item.icon" aria-hidden="true"></span>
          }
          @if (!collapsed()) {
            <span class="side-nav__label">{{ item.label }}</span>
          }
        </a>
      }
    </li>
  }
</ul>
